<div class="container first">
  <table>
    <thead>
      <tr>
        <th><%= t('dealers.salesforce_id') %></th>
        <th><%= t('dealers.name') %></th>
        <th><%= t('dealers.address') %></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <%= record.salesforce_id %>
          </td>
          <td class="dealer" >
            <%= record.name %>
          </td>
          <td>
            <%= "#{record.street} #{record.city} #{record.zipcode} #{record.state} #{record.country}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">
    <div class="float-left"><%= ' ' %></div>
    <div class="float-right"><%= ' ' %></div>
  </div>

  <%== pagy_nav(@pagy) %>
</div>

